@import "bootstrap.min.css";

#app {
    text-align: center;
    background-color: #275540b5;
    min-height: 950px;
  }

.disableddiv {
  pointer-events: none;
  opacity: 0.8;
}
.heroimg{
  opacity: 0.1;
  padding:15px;
  height: 450px;
  z-index: -100;
}

.proggresbar{
  max-width: 300px;
  margin: 0 auto;
}

.monsterimg{
  min-height: 270px;
  filter:blur(1px);
  opacity: 0.5;
}
.opaticyimg{
  opacity: 0.2;
}
.opaticyimgbuyed{
  opacity: 0.5;
}

.monsterhealthproggresbar{
  max-width: 150px;
  margin: 0 auto;
}

.hitpozition {
  position: absolute;
  color:rgb(107, 6, 6);
  font-size: 50px;
  top: 125px;
  right: 180px;
}

.skillsbutton{
  max-width: 75px;
  max-height: 75px;
}
.miniboss{
  min-height: 350px;
}
.bigboss{
  min-height: 400px;
}
.capimg{
  position: absolute;
  top: 55px;
  right: 155px;
  z-index: 5;
}
.katanaimg{
  position: absolute;
  top: 155px;
  right: 260px;
  z-index: 5;
}
.shurikenimg{
  position: absolute;
  top: 155px;
  right: 155px;
  z-index: 5;
}
.saiimg{
  position: absolute;
  top: 255px;
  right: 155px;
  z-index: 5;
}
.knifeimg{
  position: absolute;
  top: 355px;
  right: 155px;
  z-index: 5;
}
.goldimg{
  position: absolute;
  top: -35px;
  right: 260px;
}
.goldvalue{
  position: absolute;
  top: -35px;
  right: 200px;
  font-size:30px
}
.capequipnemtvalue{
  position: absolute;
  top: 55px;
  right: 165px;
  z-index: 15;
  pointer-events: none;
}
.katanaequipnemtvalue{
  position: absolute;
  top: 155px;
  right: 270px;
  z-index: 15;
  pointer-events: none;
}
.shurikenequipnemtvalue{
  position: absolute;
  top: 155px;
  right: 165px;
  z-index: 15;
  pointer-events: none;
}
.saiequipnemtvalue{
  position: absolute;
  top: 255px;
  right: 165px;
  z-index: 15;
  pointer-events: none;
}
.knifeequipnemtvalue{
  position: absolute;
  top: 355px;
  right: 165px;
  z-index: 15;
  pointer-events: none;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(83, 73, 13, 0.2);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.furytimer{
  position: absolute;
  top: 0px;
  right: 65px;
}