@import "bootstrap.min.css";

#app {
    text-align: center;
    background-color: #275540b5;
    min-height: 900px;
  }

.disableddiv {
  pointer-events: none;
  opacity: 0.8;
}
.heroimg{
  opacity: 0.3;
  padding:15px;
  height: 450px;
}

.proggresbar{
  max-width: 300px;
  margin: 0 auto;
}

.monsterimg{
  max-height: 300px;
}

.monsterhealthproggresbar{
  max-width: 150px;
  margin: 0 auto;
}

.hitpozition {
  position: absolute;
  color:rgb(107, 6, 6);
  font-size: 50px;
  top: 125px;
  right: 180px;
}

.skillsbutton{
  max-width: 75px;
  max-height: 75px;
}
.miniboss{
  min-height: 330px;
}
.bigboss{
  min-height: 350px;
}